ul#table, ul#table li {
	padding:0px;
	margin:0px;
}

ul#table li {
	list-style:none;
	text-align:center;
	font-size:1em;
	vertical-align:bottom;
	height:30px;
	line-height:30px
}

#table .ui-btn {
	margin:0px;
	line-height:4px;
}

div.ui-slider {
	width:79%;
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
	margin:.5em 0;
}

input.ui-slider-input, .ui-field-contain input.ui-slider-input {
	margin-right:10px;
	width:26px;
}

.ui-content {
	padding: 5px 15px 15px 15px;
}

div.ui-slider { 
	margin:5px;
}

/*div.ui-slider-bg {
	padding-right: 0px;
}*/

body {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.ui-page  {
     -khtml-user-select: none;
     -moz-user-select: -moz-none;
     -webkit-user-select: none; 
}
