ul, li {
	padding:0px;
	margin:0px;
}

li {
	border:1px solid #000;
	list-style:none;
	text-align:center;
	font-size:1em;
	vertical-align:bottom;
	height:30px;
	line-height:30px
}

#table .ui-btn {
	margin:0px;
	line-height:4px;
}

#table .ui-btn-inner {

}

.ui-field-contain div.ui-slider {
	width:98%;
}

input.ui-slider-input, .ui-field-contain input.ui-slider-input {
	width:45px;
	padding:4px;
	margin:0px;
}

.ui-content {
	padding: 5px 15px 15px 15px;
}

div.ui-slider { 
	margin:5px;
}

/*div.ui-slider-bg {
	padding-right: 0px;
}*/

body {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.ui-page  {
     -khtml-user-select: none;
     -moz-user-select: -moz-none;
     -webkit-user-select: none; 
}